---
import { getCollection } from 'astro:content';

import Layout from '../layout/layout.astro';
import Toggle from '../components/Toggle.jsx';
import Card from '../components/Card.astro';

let burritos = await getCollection('burritos');

// Alpha sort
// burritos.sort(function (a, b) {
// 	var textA = a.data.restaurant.toUpperCase();
// 	var textB = b.data.restaurant.toUpperCase();
// 	return textA < textB ? -1 : textA > textB ? 1 : 0;
// });
burritos.sort((a, b) => a.data.stars - b.data.stars).reverse();
---

<Layout title="Breakfast Burritos in Bend, Reviewed.">
	<Toggle client:visible />

	<div class="grid">
		{burritos.map(async (post) => {
			const { Content } = await post.render();
			return (
				<Card
					restaurant={post.data.restaurant}
					address={post.data.address}
					item={post.data.item}
					stars={post.data.stars}
					imagePrimary={post.data.imagePrimary}
					imageLength={post.data.imageLength}
					imagePackage={post.data.imagePackage}
					website={post.data.website}
					price={post.data.price}
					content={Content}
					closed={post.data.closed}
				>
					<Content />
				</Card>
			);
		})}
	</div>

	<footer>
		Who's behind this amazing site? <a href="https://chriscoyier.net/">Just some dude</a> who ain't exactly
		a foodie and likes breakfast burritos a little more than he should.
	</footer>
</Layout>

<style lang="scss">
	body[data-format='grid'] {
		.grid {
			padding: 0 4rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 4rem;
			@media (max-width: 1000px) {
				padding: 1rem;
				grid-template-columns: 1fr;
			}
		}

		:global(.button-grid) {
			background: black;
			color: white;
		}
	}

	body[data-format='table'] {
		.grid {
			padding: 1rem;
		}
		:global(.button-table) {
			background: black;
			color: white;
		}
	}

	footer {
		background: white;
		border-radius: 100%;
		border: 3px solid black;
		padding: 40px 60px;
		margin: 100px auto 100px;
		text-align: center;
		max-width: 600px;
	}
</style>
