---
import Layout from '../layout/layout.astro';
import Toggle from '../components/Toggle.jsx';
import Card from '../components/Card.astro';
const data = await Astro.glob('../content/*.md');

data.sort((a, b) => a.frontmatter.stars - b.frontmatter.stars).reverse();
---

<Layout title="Breakfast Burritos in Bend, Reviewed.">
	<Toggle client:visible />

	<div class="grid">
		{data.map((post) => (
			<Card
				restaurant={post.frontmatter.restaurant}
				address={post.frontmatter.address}
				item={post.frontmatter.item}
				stars={post.frontmatter.stars}
				images={post.frontmatter.images}
				website={post.frontmatter.website}
				price={post.frontmatter.price}
			>
				<post.Content />
			</Card>
		))}
	</div>

	<footer>
		Who's behind this amazing site? <a href="https://chriscoyier.net/">Just some dude</a> who ain't exactly
		a foodie and likes breakfast burritos a little more than he should.
	</footer>
</Layout>

<style lang="scss">
	body[data-format='grid'] {
		.grid {
			padding: 0 4rem;
			display: grid;
			// grid-template-columns: repeat(auto-fit, minmax(min(100%, 360px), 1fr));
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: masonry;
			gap: 4rem;
			@media (max-width: 1000px) {
				padding: 1rem;
				grid-template-columns: 1fr;
			}
		}

		:global(.button-grid) {
			background: black;
			color: white;
		}
	}

	body[data-format='table'] {
		.grid {
			display: table;
			table-layout: fixed;
			width: 100%;
			padding: 1rem;
		}
		:global(.button-table) {
			background: black;
			color: white;
		}
	}

	footer {
		padding: 100px 20px;
		margin: 0 auto;
		text-align: center;
		max-width: 600px;
	}
</style>
