---
import Layout from '../layout/layout.astro';
import Card from '../components/Card.astro';
const data = Astro.fetchContent('../content/*.md');
---

<Layout title="Breakfast Burritos in Bend, Reviewed.">
	<div class="grid">
		{data.map((post) => (
			<Card
				restaurant={post.restaurant}
				address={post.address}
				item={post.item}
				stars={post.stars}
				images={post.images}
				content={post.content.html}
				website={post.website}
				price={post.price}
			/>
		))}
	</div>

	<footer>
		Who's behind this amazing site? <a href="https://chriscoyier.net/">Just some dude</a> who ain't exactly
		a foodie and likes breakfast burritos a little more than he should.
	</footer>
</Layout>

<style lang="scss">
	.grid {
		padding: 0 4rem;
		display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(min(100%, 360px), 1fr));
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: masonry;
		gap: 4rem;
		@media (max-width: 1000px) {
			padding: 1rem;
			grid-template-columns: 1fr;
		}
	}

	footer {
		padding: 100px 20px;
		margin: 0 auto;
		text-align: center;
		max-width: 600px;
	}
</style>
