---
const { restaurant, address, item, stars, images, content } = Astro.props;
const LOCAL_DEV = import.meta.env.LOCAL_DEV;
const URL_PREFIX = LOCAL_DEV
	? 'https://res.cloudinary.com/css-tricks/image/fetch/c_scale,f_auto,q_auto,w_800'
	: '';
---

<div class="card">
	<header>
		{LOCAL_DEV}
		<h2>{restaurant}</h2>
		<address>{address}</address>
	</header>
	<div class="rating">
		<span class="stars">★★★★★</span>
		<span class="star-text">{stars} / 5 Stars</span>
	</div>
	<div class="image">
		<span class="item-name">{item}</span>
		<img src={`${URL_PREFIX}/images/${images[0]}`} />
		<img src={`${URL_PREFIX}/images/${images[1]}`} />
		<img src={`${URL_PREFIX}/images/${images[2]}`} />
	</div>
	<div class="content">
		{content}
	</div>
</div>

<style lang="scss">
	.card {
		background: white;
		box-shadow: 4px 4px 4px rgba(black, 0.2);

		img {
			max-width: 100%;
			display: block;
		}

		header {
			background-color: hsl(var(--yellow));
			padding: 2rem;

			h2 {
				font-weight: 900;
			}

			address {
				font-weight: 300;
				font-size: 1rem;
				font-style: normal;
			}
		}
	}

	.rating {
		background: hsl(var(--yellow) / 0.25);
		padding: 1rem 2rem;
	}

	.image {
		position: relative;
		padding: 1rem;
		display: grid;
		gap: 0.5rem;
		grid-template-columns: 1fr 1fr;

		img:nth-of-type(1) {
			grid-column: 1 / -1;
		}
	}
	.item-name {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		color: white;
	}

	.content {
		padding: 1rem;
	}
</style>
