---
const { restaurant, website, address, item, stars, images, price, content } = Astro.props;

let gold_stars = '';
for (let i = 0; i < stars; i++) {
	gold_stars += '★';
}
let black_stars = '';
for (let i = 0; i < 5 - stars; i++) {
	black_stars += '☆';
}

const PUBLIC_SITE = import.meta.env.PUBLIC_SITE;

const LARGE = 1200;
const MEDIUM = 800;
const SMALL = 400;

const URL_PREFIX = `https://res.cloudinary.com/css-tricks/image/fetch/c_scale,f_auto,q_auto,w_`;

const LARGE_URL = PUBLIC_SITE === 'true' ? `${URL_PREFIX}${LARGE}/` : '';
const MEDIUM_URL = PUBLIC_SITE === 'true' ? `${URL_PREFIX}${MEDIUM}/` : '';
const SMALL_URL = PUBLIC_SITE === 'true' ? `${URL_PREFIX}${SMALL}/` : '';
const SITE_URL = PUBLIC_SITE === 'true' ? 'https://breakfast-burritos.chriscoyier.net' : '';

let dollarUSLocale = Intl.NumberFormat('en-US', {
	style: 'currency',
	currency: 'USD',
	useGrouping: true,
	maximumSignificantDigits: 5
});
const priceOutput = dollarUSLocale.format(price);
---

<div class="card-wrap">
	<div class="card">
		<header class="header">
			<h2><a href={website}>{restaurant}</a></h2>
			<div class="item-name">{item}, {priceOutput}</div>
			<address>{address}</address>
		</header>

		<div class="rating">
			<span class="gold-stars" title="{stars} / 5 Stars">{gold_stars}</span>
			<span class="black-stars" title="{stars} / 5 Stars">{black_stars}</span>
		</div>

		<div class="images state-1">
			<img
				alt="Photo of burrito insides"
				loading="lazy"
				srcset={`
			${LARGE_URL}${SITE_URL}/images/${images[0]} ${LARGE}w,
			${MEDIUM_URL}${SITE_URL}/images/${images[0]} ${MEDIUM}w,
			${SMALL_URL}${SITE_URL}/images/${images[0]} ${SMALL}w,
			`}
				sizes="(min-width: 700px) 50vw, 90vw"
			/>
			<img
				alt="Photo of burrito length"
				loading="lazy"
				srcset={`
			${LARGE_URL}${SITE_URL}/images/${images[1]} ${LARGE}w,
			${MEDIUM_URL}${SITE_URL}/images/${images[1]} ${MEDIUM}w,
			${SMALL_URL}${SITE_URL}/images/${images[1]} ${SMALL}w,
		`}
				sizes="(min-width: 700px) 50vw, 90vw"
			/>
			<img
				alt="Photo of burrito packaging"
				loading="lazy"
				srcset={`
			${LARGE_URL}${SITE_URL}/images/${images[2]} ${LARGE}w,
			${MEDIUM_URL}${SITE_URL}/images/${images[2]} ${MEDIUM}w,
			${SMALL_URL}${SITE_URL}/images/${images[2]} ${SMALL}w,
		`}
				sizes="(min-width: 700px) 50vw, 90vw"
			/>
		</div>

		<div class="content">
			{content}
		</div>
	</div>
</div>

<style lang="scss">
	.card {
		box-shadow: var(--shadow-elevation-high);
		display: flex;
		flex-direction: column;
		border-radius: 20px 50px;
		overflow: hidden;

		img {
			max-width: 100%;
			display: block;
		}

		.header {
			background-color: hsl(var(--yellow) / 0.5);
			padding: 2rem;

			h2 {
				font-weight: 900;
				margin: 0 0 0.2rem 0;
				a {
					text-decoration: none;
					color: black;
					&:hover {
						text-decoration: underline;
					}
				}
			}

			address {
				font-weight: 300;
				font-size: var(--font-size-sm);
				font-style: normal;
			}
		}
	}

	.rating {
		background: hsl(var(--yellow) / 0.25);
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		font-size: var(--font-size-lg);
	}
	.gold-stars {
		color: #c89200;
	}
	.black-stars {
		color: #c89200;
		opacity: 0.75;
	}

	.images {
		background: white;
		position: relative;
		padding: 1rem;
		display: grid;
		gap: 0.5rem;
		grid-template:
			'top top'
			'b-l b-r';

		img:nth-child(1) {
			grid-area: top;
		}
		img:nth-child(2) {
			grid-area: b-l;
		}
		img:nth-child(3) {
			grid-area: b-r;
		}

		&.state-2 {
			img:nth-child(1) {
				grid-area: b-r;
			}
			img:nth-child(2) {
				grid-area: top;
			}
			img:nth-child(3) {
				grid-area: b-l;
			}
		}
		&.state-3 {
			img:nth-child(1) {
				grid-area: b-l;
			}
			img:nth-child(2) {
				grid-area: b-r;
			}
			img:nth-child(3) {
				grid-area: top;
			}
		}
	}
	.item-name {
		color: #bd4f00;
		font-weight: 600;
		font-size: var(--font-size-lg);
		margin: 0 0 1rem 0;
	}

	.content {
		background: white;
		padding: 0 1.5rem 1rem;
		flex: 1;
	}
</style><style global>
	/* HACK! Astro isn't parsing @container queries correctly, so have to leave unprocessed. */
	.card-wrap {
		container: inline-size / card-wrap;
		height: 100%;
	}

	@container card-wrap size(min-width: 700px) {
		.card.card {
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: min-content min-content 1fr;
			border-top-right-radius: 0;
			height: 100%;
		}
		.header.header {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			border-top: 1rem solid white;
			border-left: 1rem solid white;
			border-top-left-radius: 2rem;
		}
		.rating.rating {
			grid-column: 1 / -1;
			grid-row: 2 / 3;
			box-shadow: 0 0 2rem hsl(0 0% 0% / 0.33);
			position: relative;
			z-index: 1;
		}
		.images.images {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			gap: 1rem;
		}
		.content.content {
			grid-column: 1 / -1;
			grid-row: 3 / 4;
			padding: 1.5rem 3rem 1.5rem 3rem;
		}
	}
</style>
