---
const { restaurant, address, item, stars, images, content } = Astro.props;

let star_emojis;
for (let i = 0; i < stars; i++) {
	star_emojis += `★`;
}

const PUBLIC_SITE = import.meta.env.PUBLIC_SITE;
console.log(PUBLIC_SITE);
const URL_PREFIX =
	PUBLIC_SITE === 'false'
		? 'https://res.cloudinary.com/css-tricks/image/fetch/c_scale,f_auto,q_auto,w_800'
		: '';
const SITE_URL = 'https://breakfast-burritos.chriscoyier.net';
---

<div class="card">
	<header>
		<h2>{restaurant} <span class="item-name">{item}</span></h2>

		<address>{address}</address>
	</header>
	<div class="rating">
		<span class="stars">{star_emojis}</span>
		<span class="star-text">{stars} / 5 Stars</span>
	</div>
	<div class="image">
		<img src={`${URL_PREFIX}/${SITE_URL}/images/${images[0]}`} />
		<img src={`${URL_PREFIX}/${SITE_URL}/images/${images[1]}`} />
		<img src={`${URL_PREFIX}/${SITE_URL}/images/${images[2]}`} />
	</div>
	<div class="content">
		{content}
	</div>
</div>

<style lang="scss">
	.card {
		box-shadow: 4px 4px 4px rgba(black, 0.2);
		display: flex;
		flex-direction: column;

		img {
			max-width: 100%;
			display: block;
		}

		header {
			background-color: hsl(var(--yellow) / 0.9);
			padding: 2rem;

			h2 {
				font-weight: 900;
			}

			address {
				font-weight: 300;
				font-size: 1rem;
				font-style: normal;
			}
		}
	}

	.rating {
		background: hsl(var(--yellow) / 0.25);
		padding: 1rem 2rem;
	}

	.image {
		background: white;
		position: relative;
		padding: 1rem;
		display: grid;
		gap: 0.5rem;
		grid-template-columns: 1fr 1fr;

		img:nth-of-type(1) {
			grid-column: 1 / -1;
		}
	}
	.item-name {
		color: #bd4f00;
		font-weight: 600;
		&::before {
			content: '(';
		}
		&::after {
			content: ')';
		}
	}

	.content {
		background: white;
		padding: 1rem;
		flex: 1;
	}
</style>
